@page
@model IndexModel
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>

    <form method="post" asp-page="./Index">
        <div>
            <label for="Voornaam">Voornaam:</label>
            <input type="text" id="Voornaam" name="Voornaam" />
        </div>
        <div>
            <label for="Achternaam">Achternaam:</label>
            <input type="text" id="Achternaam" name="Achternaam" />
        </div>
        <div>
            <label for="Wachtwoord">Wachtwoord:</label>
            <input type="password" id="Wachtwoord" name="Wachtwoord" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>
